body.ng-scope {
  width: 784px;
  height: 479px;
  border: 1px dotted black;
}
.loader {
  width: 100%;
  height: 100%;
}
#device_model {
  padding: 10px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}